<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light" style="background-color: white; margin-bottom: 0px">
        <img class="navbar-brand" src="logo.png"/>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#"><img src="pic/game.svg" style="size: 10px;width: 28px;height: 28px;"/>Game Center <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="pic/store.svg" style="size: 10px;width: 25px;height: 25px;"/>Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="pic/creditCard.svg" style="size: 10px;width: 28px;height: 28px;"/>Credit Card</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="pic/app.svg" style="size: 10px;width: 28px;height: 28px;"/>Download App</a>
            </li>
            <li class="nav-item" style="margin-top: 9px">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit" style="background-color: white"><img src="pic/search.svg" style="size: 10px;width: 28px;height: 28px;"/></button>
                </form>
            </li>
        </ul>


        <ul class="nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" href="#"><img src="pic/login.svg" style="size: 10px;width: 28px;height: 28px;"/>Sign In/Up <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </nav>
    <nav class="navbar navbar-light" style="border-top: red solid 1px">

        <ul class="nav navbar-nav">
            <li class="nav-item active" style="margin-left: 50px">
                <a class="nav-link" style="color: red;" href="#">Index <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bangumi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">zhe♂xue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </nav>
    </nav>

    <br/>
    <div class="row">
        <h2>渡君的XX即将崩坏</h2>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="pic/detail.jpg"/>
        </div>
        <div class="col-md-6" style="margin-left: 50px;border-right: 1px red solid;">
            <div class="row">
                <p>出品年代：2014年漫画地区：日本漫画字母索引：D</p>
                <p>漫画剧情：搞笑 , 爱情漫画作者：鸣见奈留</p>
                <p>漫画别名：暂无</p>
                <p>漫画状态：连载中。最近于 [2018-10-21] 更新至 [ 第39回 ]。渡君的XX即将崩坏40 待更新</p>
            </div>
            <div class="row">
                <p>崩坏掉坏碎掉！急转直下的爱情喜剧开幕~！</p>
            </div>
            <div class="row">
                <span><img src="pic/readc.svg" style="height: 36px;width: 36px"> </span>
                <span  style="margin-right: 20px;font-size: 20px">开始阅读</span>
                <span ><img src="pic/chapter.svg" style="height: 23px;width: 23px"> </span>
                <span style="margin-right: 20px;font-size: 20px">章节列表</span>
                <span ><img src="pic/fav.svg" style="height: 23px;width: 23px"> </span>
                <span style="margin-right: 20px;font-size: 20px">加入收藏</span>
                <span><img src="pic/leavelcomment.svg" style="height: 23px;width: 23px"> </span>
                <span style="margin-right: 20px;font-size: 20px">我要吐槽</span>
            </div>
        </div>
        <div class="col-md-2">
            <p>用户评价</p>
            <h4>6.8分</h4>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span>推荐！</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-8">
            <h4>看过这个漫画的同学还喜欢....</h4>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <div class="col-md-2">
                <img src="pic/cover.jpg"/>
                <p>弹丸论破2</p>
            </div>
            <div class="col-md-2">
                <img src="pic/cover.jpg"/>
                <p>弹丸论破2</p>
            </div>
            <div class="col-md-2">
                <img src="pic/cover.jpg"/>
                <p>弹丸论破2</p>
            </div>
            <div class="col-md-2">
                <img src="pic/cover.jpg"/>
                <p>弹丸论破2</p>
            </div>
            <div class="col-md-2">
                <img src="pic/cover.jpg"/>
                <p>弹丸论破2</p>
            </div>
            <div class="col-md-2" style="text-align:center ">
                <img style="margin-top: 20px" src="pic/more.svg"/>
                <h4 style="margin-top: 20px">More</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row" style="border-left: 1px red solid">

                <div style="margin-left: 30px">
                    <h4>最近更新</h4>
                    <p> 关于转生史莱姆的那件事</p>
                    <p> 关于转生史莱姆的那件事</p>
                    <p> 关于转生史莱姆的那件事</p>
                    <p> 关于转生史莱姆的那件事</p>
                    <p> 关于转生史莱姆的那件事</p>
            </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <img src="pic/ad2.jpg"/>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-8" style="border-top: 1px red solid;border-bottom: 1px red solid">
            <span>珏鬼漫画 - 章节全集 </span>
            <span style="text-align: right">连载中。最近于 [2018-10-21] 更新至 [ 第08回 ]。珏鬼9 待更新</span>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-8" style="border-bottom: 1px red solid">
            <p style="font-size: 20px"><strong>第一章</strong> </p>
            <div class="col-md-2">
                <div class="vjs-volume-vertical" style="border-radius: 5px;text-align: center;border: 1px red solid;margin-top: 10px;margin-bottom: 10px;">
                    <p style="font-family: 微软雅黑;" ><b>第一话</b></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border-radius: 5px;text-align: center;border: 1px red solid;margin-top: 10px;margin-bottom: 10px">
                    <p style="font-family: 微软雅黑"><b>第一话</b></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border-radius: 5px;text-align: center;border: 1px red solid;margin-top: 10px;margin-bottom: 10px">
                    <p style="font-family: 微软雅黑"><b>第一话</b></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border-radius: 5px;text-align: center;border: 1px red solid;margin-top: 10px;margin-bottom: 10px">
                    <p style="font-family: 微软雅黑"><b>第一话</b></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border-radius: 5px;text-align: center;border: 1px red solid;margin-top: 10px;margin-bottom: 10px">
                    <p style="font-family: 微软雅黑"><b>第一话</b></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border-radius: 5px;text-align: center;border: 1px red solid;margin-top: 10px;margin-bottom: 10px">
                    <p style="font-family: 微软雅黑"><b>第一话</b></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border-radius: 5px;text-align: center;border: 1px red solid;margin-top: 10px;margin-bottom: 10px">
                    <p style="font-family: 微软雅黑"><b>第一话</b></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border-radius: 5px;text-align: center;border: 1px red solid;margin-top: 10px;margin-bottom: 10px">
                    <p style="font-family: 微软雅黑"><b>第一话</b></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border-radius: 5px;text-align: center;border: 1px red solid;margin-top: 10px;margin-bottom: 10px">
                    <p style="font-family: 微软雅黑"><b>第一话</b></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border-radius: 5px;text-align: center;border: 1px red solid;margin-top: 10px;margin-bottom: 10px">
                    <p style="font-family: 微软雅黑"><b>第一话</b></p>
                </div>
            </div>
            <div class="col-md-2">
                <div style="border-radius: 5px;text-align: center;border: 1px red solid;margin-top: 10px;margin-bottom: 10px">
                    <p style="font-family: 微软雅黑"><b>第一话</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h4>
           <p style="font-family: '微软雅黑 Light'"> 沙雕网友评论:</p>
        </h4>
    </div>
    <br/>
    <div>
        xxx
    </div>

</div>
</body>
</html>
