<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-light" style="background-color: white; margin-bottom: 0px">
        <img class="navbar-brand" src="logo.png"/>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#"><img src="pic/game.svg" style="size: 10px;width: 28px;height: 28px;"/>Game Center <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="pic/store.svg" style="size: 10px;width: 25px;height: 25px;"/>Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="pic/creditCard.svg" style="size: 10px;width: 28px;height: 28px;"/>Credit Card</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src="pic/app.svg" style="size: 10px;width: 28px;height: 28px;"/>Download App</a>
            </li>
            <li class="nav-item" style="margin-top: 9px">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit" style="background-color: white"><img src="pic/search.svg" style="size: 10px;width: 28px;height: 28px;"/></button>
                </form>
            </li>
        </ul>


        <ul class="nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" href="#"><img src="pic/login.svg" style="size: 10px;width: 28px;height: 28px;"/>Sign In/Up <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </nav>
    <img src="banner.jpg" style="width: 100%"/>
    <nav class="navbar navbar-light">

        <ul class="nav navbar-nav">
            <li class="nav-item active" style="margin-left: 50px">
                <a class="nav-link" style="color: red;" href="#">Index <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bangumi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">zhe♂xue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
    </nav>

    <div class="container">

    <div class="row">
        <div class="col-md-5">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="pic/band1.png" alt="First slide">
                        <div class="carousel-caption">标题 1</div>
                    </div>
                    <div class="item">
                        <img src="pic/band2.jpg" alt="Second slide">
                        <div class="carousel-caption">标题 2</div>
                    </div>
                    <div class="item">
                        <img src="pic/band3.jpg" alt="Third slide">
                        <div class="carousel-caption">标题 3</div>
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-3" style="margin-left: 20px;margin-bottom: 5px;margin-right: 20px;">
                  <div>
                      <img src="pic/shilaimu.jpg"/>
                  </div>
                    <div style="margin-bottom: 0px;">
                        <p  style="text-align: center; font-family: Arial;margin-bottom: 0px">The case that I was turing into a smile</p>
                    </div>
                    <div style="margin-top: 0px;">
                       <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">12.7w</span>
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px">5623</span>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 20px;margin-bottom: 5px;margin-right: 20px;">
                    <div>
                        <img src="pic/456.jpg"/>
                    </div>
                    <div>
                        <p>adad</p>
                    </div>
                    <div style="margin-top: 0px;">
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">12.7w</span>
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px">5623</span>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 20px;margin-bottom: 5px;margin-right: 20px;">
                    <div>
                        <img src="pic/456.jpg"/>
                    </div>
                    <div>
                        <p>adad</p>
                    </div>
                    <div style="margin-top: 0px;">
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">12.7w</span>
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px">5623</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="margin-left: 20px;margin-bottom: 5px;margin-right: 20px;margin-top: 10px">
                    <div>
                        <img src="pic/shilaimu.jpg"/>
                    </div>
                    <div>
                        <p>adad</p>
                    </div>
                    <div style="margin-top: 0px;">
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">12.7w</span>
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px">5623</span>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 20px;margin-bottom: 5px;margin-right: 20px;margin-top: 10px">
                    <div>
                        <img src="pic/456.jpg"/>
                    </div>
                    <div>
                        <p>adad</p>
                    </div>
                    <div style="margin-top: 0px;">
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">5446</span>
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px">23</span>
                    </div>
                </div>
                <div class="col-md-3" style="margin-left: 20px;margin-bottom: 5px;margin-right: 20px;margin-top: 10px">
                    <div>
                        <img src="pic/shilaimu.jpg"/>
                    </div>
                    <div>
                        <p>adad</p>
                    </div>
                    <div style="margin-top: 0px;">
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">47.4w</span>
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
        <br/>
        <div>
           <span><img src="pic/promoTag.svg" style="width: 24px;height: 24px"></span>
            <span style="font-family: Arial;color: black;font-size: 20px"><b>Today's Promotion!</b></span>
            <span style="color: gray;size: 16px;" > For Adult Only</span>
        </div>
    <div class="row">
        <div class="col-md-2" style="margin-left: 15px;margin-bottom: 5px;margin-right: 10px;margin-top: 10px">
                <div>
                    <img src="pic/shilaimu.jpg"/>
                </div>
                <div>
                    <p>adad</p>
                </div>
                <div style="margin-top: 0px;">
                    <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                    <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">47.4w</span>
                    <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                    <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                </div>
        </div>
            <div class="col-md-2" style="margin-left: 15px;margin-bottom: 5px;margin-right: 10px;margin-top: 10px">
                <div>
                    <img src="pic/shilaimu.jpg"/>
                </div>
                <div>
                    <p>adad</p>
                </div>
                <div style="margin-top: 0px;">
                    <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                    <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">47.4w</span>
                    <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                    <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                </div>
            </div>

            <div class="col-md-2" style="margin-left: 15px;margin-bottom: 5px;margin-right: 10px;margin-top: 10px">
                <div>
                    <img src="pic/shilaimu.jpg"/>
                </div>
                <div>
                    <p>adad</p>
                </div>
                <div style="margin-top: 0px;">
                    <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                    <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">47.4w</span>
                    <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                    <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                </div>
            </div>

            <div class="col-md-2" style="margin-left: 15px;margin-bottom: 5px;margin-right: 10px;margin-top: 10px">
                <div>
                    <img src="pic/shilaimu.jpg"/>
                </div>
                <div>
                    <p>adad</p>
                </div>
                <div style="margin-top: 0px;">
                    <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                    <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 10px">47.4w</span>
                    <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                    <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                </div>
            </div>

            <div class="col-md-2">
                <img src="pic/promo.jpg"/>
            </div>
    </div>

        <br/>
        <div class="row">
            <div class="col-md-9">
                <span><img src="pic/top.svg" style="width: 24px;height: 24px"></span>
                <span style="font-family: Arial;color: black;font-size: 20px"><b>Week's Top Topic</b></span>
                <span style="color: gray;size: 16px;" > For Adult Only</span>
            <div class="row">
                <div class="col-md-3" style="margin-bottom: 5px;margin-top: 10px">
                    <div>
                        <img src="pic/shilaimu.jpg"/>
                    </div>
                    <div>
                        <p>adad</p>
                    </div>
                    <div style="margin-top: 0px;">
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">47.4w</span>
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                    </div>
                </div>
                <div class="col-md-3" style="margin-bottom: 5px;margin-top: 10px">
                    <div>
                        <img src="pic/shilaimu.jpg"/>
                    </div>
                    <div>
                        <p>adad</p>
                    </div>
                    <div style="margin-top: 0px;">
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">47.4w</span>
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                    </div>
                </div>

                <div class="col-md-3" style="margin-bottom: 5px;margin-top: 10px">
                    <div>
                        <img src="pic/shilaimu.jpg"/>
                    </div>
                    <div>
                        <p>adad</p>
                    </div>
                    <div style="margin-top: 0px;">
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">47.4w</span>
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                    </div>
                </div>

                <div class="col-md-3" style="margin-bottom: 5px;margin-top: 10px">
                    <div>
                        <img src="pic/shilaimu.jpg"/>
                    </div>
                    <div>
                        <p>adad</p>
                    </div>
                    <div style="margin-top: 0px;">
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 10px">47.4w</span>
                        <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                        <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                    </div>
                </div>

            </div>

                <div class="row">
                    <div class="col-md-3" style="margin-bottom: 5px;margin-top: 10px">
                        <div>
                            <img src="pic/shilaimu.jpg"/>
                        </div>
                        <div>
                            <p>adad</p>
                        </div>
                        <div style="margin-top: 0px;">
                            <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                            <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">47.4w</span>
                            <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                            <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-bottom: 5px;margin-top: 10px">
                        <div>
                            <img src="pic/shilaimu.jpg"/>
                        </div>
                        <div>
                            <p>adad</p>
                        </div>
                        <div style="margin-top: 0px;">
                            <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                            <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">47.4w</span>
                            <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                            <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                        </div>
                    </div>

                    <div class="col-md-3" style="margin-bottom: 5px;margin-top: 10px">
                        <div>
                            <img src="pic/shilaimu.jpg"/>
                        </div>
                        <div>
                            <p>adad</p>
                        </div>
                        <div style="margin-top: 0px;">
                            <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                            <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 20px">47.4w</span>
                            <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                            <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                        </div>
                    </div>

                    <div class="col-md-3" style="margin-bottom: 5px;margin-top: 10px">
                        <div>
                            <img src="pic/shilaimu.jpg"/>
                        </div>
                        <div>
                            <p>adad</p>
                        </div>
                        <div style="margin-top: 0px;">
                            <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/play1.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                            <span style="margin-top: 0px;color: gray;font-size: 13px;margin-right: 10px">47.4w</span>
                            <span style="margin-top: 0px;color: gray; font-size: 13px"> <img src="pic/comment.svg" style="size: 10px;width: 20px;height: 20px;"/> </span>
                            <span style="margin-top: 0px;color: gray;font-size: 13px">204</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <img src="pic/bannner-mid.jpg">
                </div>

            </div>
            <div class="col-md-3">
                <span><img src="pic/tiezi.svg" style="width: 24px;height: 24px"></span>
                <span style="font-family: Arial;color: black;font-size: 20px"><b>Article Topic</b></span>
                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-top: 10px">
                            <p style="font-size: 15px">This is Thread One with a verlong title </p>
                            <p style="font-size: 15px">This is Thread One with a verlong title </p>
                            <p style="font-size: 15px">This is Thread One with a verlong title </p>
                            <p style="font-size: 15px">This is Thread One with a verlong title </p>
                            <p style="font-size: 15px">This is Thread One with a verlong title </p>
                            <p style="font-size: 15px">This is Thread One with a verlong title </p>
                            <p style="font-size: 15px">This is Thread One with a verlong title </p>
                            <p style="font-size: 15px">This is Thread One with a verlong title </p>
                            <p style="font-size: 15px">This is Thread One with a verlong title </p>
                            <p style="font-size: 15px">This is Thread One with a verlong title </p>
                            <button class="btn btn-lg btn-dark btn-block" type="submit">See More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

    <div class="container-fluid" style="background-color: #CFCFCF;margin-top: 10px">
        <p style="text-align: center">我是有底线的</p>
        <!--<div class="row" style="margin-top: 20px">-->
            <!--<div class="col-md-4" style="border-right: 1px solid white;border-left-color: white">-->
                <!--<div class="row" >-->
                    <!--<p>cooperate</p>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<span>about us</span>-->
                    <!--<span>contact us</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4" style="border-left-color: white">-->
                <!--<div class="row" >-->
                    <!--<p>cooperate</p>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<span>about us</span>-->
                    <!--<span>contact us</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4" style="border-left-color: white">-->
                <!--Thrid-->
            <!--</div>-->
        <!--</div>-->
    </div>


</body>
</html>
