<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="/dist/css/flat-ui.css" rel="stylesheet">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body background="2.jpg">
    <div class="container-fluid">
        <div class="col-md-9">
        </div>
        <div class="col-md-3 " style="position:fixed; width: 400px;height: 100%; top: 0; right:0;background-color: white;">
          <div>
              <img src="/ac.jpg" style="width: 100%;height: 100%"/>
          </div>

            <div style="margin-top: 10%">
                <div class="input-group-lg">
                    <form class="form-signin" action="/a" method="get">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input name="address" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <br/>
                        <input name="psw" type="password" id="inputPassword" class="form-control" placeholder="Password" required>


                        <div class="checkbox mb-3" style="text-align: center">
                            <label>
                                <input type="checkbox" value="remembaer-me" style="margin-top: 9px;text-align: center;vertical-align: center">
                                remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-warning btn-block" type="submit">Sign In</button>
                      <div class="row">
                          <div class="col-lg-7">
                              Sign Up
                          </div>
                          <div class="col-lg-5 offset-3">
                              Forget Password?
                          </div>
                      </div>
                        <br/>
                        <p class="mt-5 mb-3 text-muted" style="text-align: center">&copy;Madao 2019</p>
                    </form>
                </div>
           </div>
        </div>
    </div>
</body>
</html>
